<div class="row" style="background-color: white;">
    <div class="col-md-12 py-1" style="border-bottom: 1px solid rgb(231, 230, 230);">
        <span><a>{{service_details.service_name}}</a></span>
        <span style="text-align: right; float: right;"> 
            <b>{{service_details.price }} ZAR</b> <br>
            Posted on <b>{{ service_details.preferred_date_service | date }}</b>
        </span>
    </div>
    <div class="col-md-12 p-2" style=" border-bottom: 1px solid rgb(231, 230, 230);">
        <div class="row pt-3">
            <div class="col-sm-2">
                <img *ngIf="service_details.picture" [src]="service_details.picture[0]" style="width: 100%;" alt="">
            </div>
            <div class="col-sm-10">
                <p style="text-align: justify;"> {{ service_details.description }} </p>
                
                <div class="row" style="font-size: 10px;" *ngIf="service_details.picture">
                    <p><a href="javascript:void(0);" (click)="showPicture()"> {{ pictureIsShowed ? 'Hide pictures' : 'See pictures'}} </a></p>
                    <div class="col-md-12" *ngIf="pictureIsShowed">
                        <div class="row">
                            <div class="col-sm-4" *ngFor="let pic of service_details.picture">
                                <img [src]="pic" style="width: 100%;" alt="">
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row" style="font-size: 11px;">
                    <div class="col-sm-4">
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{ service_details.status }}
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-calendar "></i> {{ service_details.number_bids }} Bids
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-calendar "></i> {{ service_details.preferred_date_service | date }}
                    </div>
                    <div class="col-sm-6" *ngIf="service_details.address_service">
                        <i class="fa fa-map-marker"></i> {{ service_details.address_service.city }}, {{ service_details.address_service.address }}
                    </div>
                    <div class="col-sm-12" *ngIf="service_details.user_id != currentUser._id">
                        <button *ngIf="!canEditBid" type="button" (click)="serviceButton.emit(service_details)" class="btn btn-primary p-1" style="font-size: 11px; float: right;">{{txtButton}}</button>
                        <!-- <i class="fa fa-clock-o"></i> {{ getTime(service_details.preferred_date_service)}} -->
                    </div>
                    <!-- <div class="col-sm-6">
                        <i class="fa fa-map-marker"></i> {{ getCategoryName.emit(service.categoryService_id) }}
                    </div> -->
                </div>
            </div>
            <!-- <div class="col-sm-2"><i class="fa fa-money"></i> -->
                
                
                <!-- <button type="button" (click)="selectService.emit({'service_name': service.service_name, 'service_id': service._id})" class="btn btn-primary p-1" style="font-size: 11px; float: bottom;">Details</button> -->
            <!-- </div> -->
        </div>
    </div>
</div>