<div class="section-full bg-change-section overlay-wraper bg-light px-5 py-4">
    <div class="container px-5">
        <div class="section-head  text-black" style="margin-bottom: 30px;">
            <h2 ><b>Services You awarded</b></h2>
        </div>
        <div class="row p-1">
            <div class="col-md-12">
                
            </div>
            <div class="col-md-12 pt-5">
                <app-service-list *ngIf="accepted_service_details.length!=0" [services]="accepted_service_details" (selectService)="selectService($event)"></app-service-list>
            </div>
            <div class="col-md-12" *ngIf="accepted_service_details.length==0" style="display: flex; background-color: white; height: 200px; border: 3px solid rgb(221, 219, 219);">
                <p style="margin: auto; font-size: 50px; color: rgb(160, 158, 158);"><b>Nothing to display</b></p>
            </div>
        </div>
    </div>
</div>