// shared css for the login and signup page
.fa-facebook, 
.fa-twitter, 
.fa-instagram, 
.fa-linkedin {
    font-size: 45px;
    color: white;
    margin: 5px
}

.terms{
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    color: white;
    text-decoration: none;
}


ol li
{
	font-size: 14px;
	color: #c2cbd7;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    display: inline;	
    color: white;
}
.fa1 .terms{
    list-style-type: none;
    font-size: 14px;
    left: 0px;
}
.fa1 .fa{
    font-size: 20px;
}
.converter_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.footer
{
    color: #242121 !important;
	width: 100%;
	overflow: hidden;
	padding-top: 20px;
	background: #242121;
}
.footer_logo
{
	position: absolute;
	top: -18px;
	left: 0px;
}
.footer_about_text
{
	color: #c2cbd7;
	line-height: 2.14;
	padding-top: 86px;
}
.footer_about p:last-of-type
{
	margin-bottom: 0;
}
.footer_title
{
	font-family: 'gill', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}
.footer_links ul
{
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	margin-top: 53px;
}
.footer_links ul li
{
	margin-bottom: 9px;
}
.footer_links a i
{
	font-size: 14px;
	color: #c2cbd7;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    display: inline;	
    color: white;
}
li{
    
    list-style-type: none;
}
.footer_links ul li a:hover
{
	color: #ffa800;
}
.footer_newsletter_form
{
	display: block;
	position: relative;
	margin-top: 54px;
}
.footer_newsletter_input
{
	width: 100%;
	height: 47px;
	background: transparent;
	border: solid 2px rgba(224, 227, 228, 0.17);
	padding-left: 26px;
	outline: none;
	color: #ffa800;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_newsletter_input:focus
{
	border: solid 2px rgba(224, 227, 228, 0.34);
}
.footer_newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 127px;
	height: 47px;
	background: #ffa800;
	border: none;
	outline: none;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 600;
	cursor: pointer;
}
.footer_newsletter_input::-webkit-input-placeholder
{
	font-size: 11px !important;
	font-style: italic;
	color: #c2cbd7 !important;
}
.footer_newsletter_input:-moz-placeholder
{
	font-size: 11px !important;
	font-style: italic;
	color: #c2cbd7 !important;
}
.footer_newsletter_input::-moz-placeholder
{
	font-size: 11px !important;
	font-style: italic;
	color: #c2cbd7 !important;
} 
.footer_newsletter_input:-ms-input-placeholder
{ 
	font-size: 11px !important;
	font-style: italic;
	color: #c2cbd7 !important;
}
.footer_newsletter_input::input-placeholder
{
	font-size: 11px !important;
	font-style: italic;
	color: #c2cbd7 !important;
}
.footer_social a i
{
	display: inline-block;
	color: #ffa800;
	font-size: 20px;
	padding: 3px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li:hover a i
{
	color: white;
}

.header_social
{
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
	margin-left: 29px;
}
.header_social ul li
{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: solid 1px #d6d6d6;
	box-shadow: 0 0 1px 0px #d6d6d6 inset, 0 0 1px 0px #d6d6d6;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 7px;
}
.header_social ul li:last-child
{
	margin-right: 0;
}
.header_social ul li a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.header_social ul li a i
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 11px;
	color: #d6d6d6;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_social ul li:hover a i
{
	color: #ffa800;
}

.copyright
{
	width: 100%;
	margin-top: 110px;
	background: #0d1016;
}
.copyright_content
{
	width: 100%;
	height: 70px;
}
.footer_nav
{
	width: 100%;
	height: 70px;
	text-align: right;
}
.footer_nav ul li
{
	display: inline-block;
	margin-right: 23px;
}
.footer_nav ul li:last-child
{
	margin-right: 0;
}
.footer_nav ul li a
{
	font-family: 'gill', sans-serif;
	font-size: 13px;
	color: #697686;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #ffa800;
}
.cr
{
	font-family: 'gill', sans-serif;
	font-size: 13px;
	color: #697686;

}