	<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">
					<div class="footer_about">
						<div class="logo_container footer_logo">
							<div class="logo">
                                <div class="row" style="padding: 0px 0px">
                                    <a [routerLink]="['/home']" style="margin-left: auto; margin-right: auto;"><img src="assets/home_images//karryNgologo.png" width="171" height="49" alt=""/></a>
                                </div>
							</div>
						</div>
                        <div style="font-size: 12px"><br><br><br>
                            <ul>
                                <li><i class="fa fa-home fa-2x text-white" style="color: rgb(253, 204, 9)!important;"></i> <b style="color: white;">  97A, 2nd Avenue, Fontainebleau Randburg, South-Africa; 2194</b></li>
                                <li><i class="fa fa-mobile fa-3x text-white" style="color: rgb(253, 204, 9)!important;"></i> <b style="color: white;"> +27 730 115 992</b></li>
                                <li><i class="fa fa-envelope fa-2x text-white" style="color: rgb(253, 204, 9)!important;"></i> <b style="color: white;"> contact@karryngo.com</b></li>
                            </ul>
						</div>
					</div>
				</div>


				<!-- Footer Column -->
				<div class="col-lg-3 footer_col">
					<div class="footer_links">
						<div class="footer_title">About</div>
						<ul>
							<li><a href="#">ABOUT US</a></li>
							<li><a href="#">HOW IT WORKS</a></li>
							<li><a href="#">SECURITY</a></li>
							<li><a href="#">SITEMAP</a></li>
							<li><a href="#">QUOTES</a></li>
							<li><a href="#">SITEMAP</a></li>
						</ul>
					</div>
                </div>
                
				<div class="col-lg-3 footer_col">
					<div class="footer_links">
						<div class="footer_title">Terms</div>
						<ul>
							<li><a href="#">PRIVACY POLICY</a></li>
							<li><a href="#">TERMS & CONDITIONS</a></li>
							<li><a href="#">COPYRIGHT POLICY</a></li>
							<li><a href="#">CODE OF CONDUCT</a></li>
							<li><a href="#">FEES AND CHARGES</a></li>
						</ul>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-2 footer_col">
					<div class="footer_newsletter">
						<div class="footer_social">
								<a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="https://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a target="_blank" href="https://www.youtube.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
								<a target="_blank" href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Footer footer -->
        <div class="footer-bottom overlay-wraper">
            <div class="overlay-main"></div>
            <div class="container p-t30">
                <div style="border-bottom: 3px gray solid;"></div>
                <div class="row">
                    <div class="col-md-8 copyrights-text" style="color: #ffa800; text-align: left;">
                        <ol id="end_footer">
                            <li>
                                <span class="counter" style="font-size: 10px;">30,720,277</span>
                                <span style="font-size: 8px;"> REGISTERED USERS  </span>
                            </li>|
                            <li>
                                <span class="counter" style="font-size: 9px;">  21,000</span>
                                <span class="" style="font-size: 9px;"> SHIPPERS/CARRIERS</span>
                            </li>|
                            <li>
                                <span class="" style="font-size: 9px;">Copyright © 2020 karryNgo All Rights Reserved.</span>
                            </li>
                        </ol>
                    </div>
                    <div  class="col-md-4 copyrights-text" style="text-align: right; color: white; font-size: 9px;">
                        Designed & Developed by<a href="http://sdkgames.com"><b> SDK Games Africa</b></a>
                    </div>
                </div>
            </div>
        </div>	
	</footer>